<h2 [ngClass]="claseTitulo">Titulo</h2>

<button (click)="cambiarEstilo()">cambiar estilo titulo</button>

<p>hola {{nombre}}</p>

<p>{{fechaNac | date}}</p>

<div *ngIf="mostrar">Mostramos</div>

<button (click)="mostrar = !mostrar">mostrar/ocultar</button>

<div class="{{mostrar ? 'seleccionado': ''}}">Importante o no</div>

<div>{{ numero | number:'7.1-5':'en' }}</div> 

{{'Pruebo pipe' | tituloHtml:'blue'}}
<hr/>
<button id="b1" [disabled]="mostrar" (click)="mostrar">boton1</button>

<button id="b2" [disabled]="mostrar" (click)="mostrar">boton2</button>


Nombre: <input type="text" [(ngModel)]="nombre">